.novoComentario {
    width: 18rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.margemLeft{
    margin-left: 5px;
}

.dataComentario{
  font-size: 12px;
}

.margemTop{
  margin-top: 10px;
}